@page
@model IndexModel
@{
    ViewData["Title"] = "My Practice";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Practice</h1>
    <p>Beta v1</p>
</div>


@using Microsoft.AspNetCore.Authentication

@if (User.Identity.IsAuthenticated)
{

    <h2>Details</h2>

    <ul>
        <li>Token: @Model.Token</li>
        <li>Cookie Output: @Model.CookieOutput</li>
    </ul>

    @User.Identity.Name

    <h2>Roles</h2>

    <h2>Claims</h2>

    <dl>

        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>

    <h2>Properties</h2>

    <dl>
        @foreach (var prop in (await HttpContext.AuthenticateAsync()).Properties.Items)
        {
            <dt>@prop.Key</dt>
            <dd>@prop.Value</dd>
        }
    </dl>
}